<div class="container">

    <h1 class="Heading">Registration Numbers Web App</h1>

    <div class="examples">
        <p>e.g CA 15496, CJ 658, CY 974361 </p>
    </div>


    <form action="/reg_numbers" method="POST">

    {{#if messages.error}}
    <div class="error">
        <p> {{messages.error}}</p>
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="success">
        <p> {{messages.success}}</p>
    </div>
    {{/if}}

        <div class="textbox">
            <input type="text" placeholder="enter reg_num" name="registration_no">

        </div>

        <br />


        <div addBtn>
            <button class="addBtn" type="submit" name="button"> Add Reg Number</button>
        </div>

        <br>
  
    </form>

<br>
     <form action="/reg_numbers_filter" method="POST">
            
            
             <div class="dropDownBtn">
            <select name="filtered" id="">
                <option value="all"> All Towns</option>
                <option value="1"> Cape Town</option>
                <option value="2"> Bellvile</option>
                <option value="3"> Paarl</option>


            </select>
            
             </div>

            <br/>

     <div filterBtn>
            <a href="/reg_numbers">
                <button class="filterBtn" type="submit" name="button"> Filter</button>
            </a>
        </div>

        

        
        
        </form>

        <br/>
    <form action="/reset" method="post">
    
     
            <button class="resetBtn" type="submit" name="button" value="reset">Reset
            </button>

            <hr>


            <div class="print_reg">
                <ul>
                    {{#each registrations}}

                    <li>
                        {{registrations}}
                    </li>

                    {{/each}}
                </ul>

            </div>

    </form>

    
</div>