.container{
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: auto;
    color: darkgray;
   
  }

div {

    color: gold;
    margin: auto;
 }

body{
    color: darkgray;
    background-color: rgb(0, 77, 77);
    text-align: center
}

h1{
   color: chocolate;
}



.radioBtn{
    color: chocolate;
}

.addBtn{
    background-color: white; 
    color: black; 
    border: 12px chocolate;
    border-radius: 12px;
    padding: 3px;
    font-size: 15px;
  }
  
  .addBtn:hover {
    background-color: chocolate;
    color: black;
  }

  .examples{
      color: darkgray;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  li{
    border-radius: 5px;
    list-style: none;
    background-color: lightgrey;
    border:2px solid black;
    float: left;
    margin: 0.5em;
    padding: 1em 2em;
    color: black;
  }

  .filterBtn{
    background-color: white; 
    color: black; 
    border: 12px chocolate;
    border-radius: 12px;
    padding: 3px;
    font-size: 15px;
  }

  .filterBtn:hover {
    background-color: chocolate;
    color: black;
  }

  .resetBtn{
    background-color: white; 
    color: black; 
    border: 12px chocolate;
    border-radius: 12px;
    padding: 3px;
    font-size: 15px;
  }

  .resetBtn:hover {
    background-color: chocolate;
    color: black;
  }

  /* .print_reg{
    background-color: black;
  } */

